/*
  Daniel Orozco 13312
  UVG
  Sistemas y Tecnologias Web
  2016
*/

$base-color: lightgreen;
$base-left: 100px;
$base-top: 410px;
$border-color: black;
$border-size: 2px;
$box-qty: 7;
$box-size: 40px;
$color-letter: white;
$font-size: 30px;
$line-h: 40px;
$padding: 15px;
$step-color: 7;
$txt-align: center;

.container {
    position: relative;
}

.letter-box
{
    border: $border-size solid $border-color;
    color: $color-letter;
    font: $font-size bold;
    height: $box-size;
    line-height: $line-h;
    padding: $padding;
    position: absolute;
    text-align: $txt-align;
    width: $box-size;
}

@for $i from 1 through ($box-qty){
  .letter-box.l#{$i}{
      background: darken($base-color, $step-color*$i);
      left: $base-left + ($i - 1)*55px;
      top: $base-top - ($i - 1)*50px;
      @if $i==3 or $i==5
      {
        z-index: 2;
      }
      @if $i==2 or $i==6
      {
        z-index: 3;
      }
  }
}