/*
  Daniel Orozco 13312
  UVG
  Sistemas y Tecnologias Web
  2016
*/
.container {
  position: relative; }

.letter-box {
  border: 2px solid black;
  color: white;
  font: 30px bold;
  height: 40px;
  line-height: 40px;
  padding: 15px;
  position: absolute;
  text-align: center;
  width: 40px; }

.letter-box.l1 {
  background: #71e971;
  left: 100px;
  top: 410px; }

.letter-box.l2 {
  background: #52e552;
  left: 155px;
  top: 360px;
  z-index: 3; }

.letter-box.l3 {
  background: #33e033;
  left: 210px;
  top: 310px;
  z-index: 2; }

.letter-box.l4 {
  background: #20cf20;
  left: 265px;
  top: 260px; }

.letter-box.l5 {
  background: #1bb01b;
  left: 320px;
  top: 210px;
  z-index: 2; }

.letter-box.l6 {
  background: #169216;
  left: 375px;
  top: 160px;
  z-index: 3; }

.letter-box.l7 {
  background: #127312;
  left: 430px;
  top: 110px; }
